services:
  - type: web
    name: muscle-hustle
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: MONGO_URI
        sync: false
      - key: MONGO_DBNAME
        value: muscle_hustle
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
